.footer {
  background: #351764;
  color: white;
  text-align: center;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* .footer p {
  font-size: 1rem;
  opacity: 0.9;
} */

