html {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: purple;
  text-decoration: none;
}

#root {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-color: black;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

@media screen and (min-width: 1441px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #root {
    max-width: 1440px;
    margin: 0 auto;
  }
}
